:root {
	/*colors*/
	--green: #3bc472;
	--black: #201e1c;
  --grey: #282623;
  --light-grey: #9c9c9c;
	--white: #ffffff;

	/*fonts*/
	--font-sm: ;
	--font-md: ;
	--font-lg: ;

	--border-buttons: 40px;
	--padding-item: 4px;
	--letter-spacing-buttons: 1.2px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/*font-size: 62.5%;*/
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  padding-bottom: var(--padding-item);
  border-bottom: 1px solid transparent;
}

li {
  list-style: none;
}

/*GLOBAL*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.principal-button {
	padding: 10px 20px;
	color: var(--black);
	font-weight: bold;
	letter-spacing: var(--letter-spacing-buttons);
	outline-offset: 2px;
	outline: 1px solid var(--green);
	border-color: transparent;
	border-radius: var(--border-buttons);
	background-color: var(--green);
}

.card-button {

}

/*HEADER*/
header {
	/*height: 100vh;*/
	flex-direction: column;
}

.header__figure {
	width: 200px;
	height: 200px;
	margin-bottom: 20px; 
	border-radius: 50%;
	background-color: var(--light-grey);
}

.header__figure img {
	width: 100%;
	border-radius: inherit;
}

.header--title {
	color: var(--white);
	letter-spacing: 1.2px;
}

.header--subtitle {
	margin: 10px 0 30px;
	color: var(--green);
	font-style: italic;
	letter-spacing: 1.1px;
}

.header__socialMedia {
	margin-bottom: 50px;
	gap: 20px;
}

.header--button {
	gap: 5px;
	opacity: 0.8;
}

/*MENU*/
nav {
  width: 100%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--grey);
}

.navBar {
	width: 100%;
  height: 100%;
  justify-content: space-around;
}

.navBar a {
	padding-bottom: var(--padding-item);
  color: var(--white);
  letter-spacing: 1.1px;
  /*font-size: 1.5rem;*/
  border-bottom: 1px solid transparent;
}

/*SECTION*/
.section {
	padding: 10px;
	min-height: 100vh;
}

.section__header {
	width: 300px;
	margin: 50px 0;
}

.section__header--subtitle {
	margin-bottom: 10px;
	color: var(--green);
	font-style: italic;
	/*font-size: 2rem;*/
	letter-spacing: 1.1px;
}

.section__header--title {
	margin-bottom: 10px;
	color: var(--white);
  /*font-size: 2.5rem;*/
  letter-spacing: 2px;
}

.section__header--line {
	width: 60px;
  border-bottom: 1px solid var(--green);
}

/*ABOUT ME*/
.aboutMe--text {
	margin-bottom: 60px;
}

.aboutMe--cvBtn {

}

/*SKILLS*/
.skills {

}

.skills__area {
	/*margin-top: 20px;*/
  padding: 0 10px;
  /*background-color: grey;*/
}

.skills__area--title {
	color: var(--white);
	/*font-size: 2rem;*/
	letter-spacing: 1.2px;
}

.skills__area__list {
	min-height: 20px;
  /*margin: 20px 0 0;*/
  flex-wrap: wrap;
  gap: 30px 20px;
}

/*PROJECTS*/

@media (hover: hover) {
	.header__socialMedia a:hover {
		border-color: var(--white);
	}
	.header--button:hover {
		opacity: 1;
		cursor: pointer;
	}
	.navBar a:hover {
		color: var(--green);
	}
}