:root {
	/*colors*/
	--primary-color: ;
	--background-color: ;
	--white-color: ;

	/*fonts*/
	--font-sm: ;
	--font-md: ;
	--font-lg: ;

	/*borders*/
	--border-buttons: ;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*GLOBAL*/
.section {
	padding: 10px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*HEADER*/
header {
	height: 100vh;
	flex-direction: column;
}

.header__figure {
	width: 200px;
	height: 200px;
	margin-bottom: 20px; 
	border-radius: 50%;
	background-color: green;
}

.header__figure > img {
	width: 100%;
	border-radius: inherit;
}

.header--title {

}

.header--subtitle {
	margin: 10px 0 30px;
	font-style: italic;
	letter-spacing: 1.1px;
}

.header__socialMedia {
	margin-bottom: 50px;
	gap: 20px;
}

.header--button {
	padding: 10px 35px;
	color: white;
	letter-spacing: 1.1px;
	border-radius: 40px;
	outline-offset: 2;
	outline: 1px solid white;
	border-color: transparent;
	background-color: green;
}