:root {
	/*colors*/
	--green: #3bc472;
	--black: #201e1c;
  --grey: #282623;
  --light-grey: #9c9c9c;
	--white: #ffffff;

	/*fonts*/
	--font-sm: ;
	--font-md: ;
	--font-lg: ;

	--border-buttons: ;
	--padding-item: 4px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/*font-size: 62.5%;*/
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  padding-bottom: var(--padding-item);
  border-bottom: 1px solid transparent;
}

li {
  list-style: none;
}

/*GLOBAL*/
.section {
	padding: 10px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*HEADER*/
header {
	height: 100vh;
	flex-direction: column;
}

.header__figure {
	width: 200px;
	height: 200px;
	margin-bottom: 20px; 
	border-radius: 50%;
	background-color: var(--light-grey);
}

.header__figure > img {
	width: 100%;
	border-radius: inherit;
}

.header--title {
	color: var(--white);
	letter-spacing: 1.2px;
}

.header--subtitle {
	margin: 10px 0 30px;
	color: var(--green);
	font-style: italic;
	letter-spacing: 1.1px;
}

.header__socialMedia {
	margin-bottom: 50px;
	gap: 20px;
}

.header--button {
	padding: 10px 35px;
	gap: 10px;
	color: white;
	letter-spacing: 1.1px;
	border-radius: 40px;
	outline-offset: 2;
	outline: 1px solid white;
	border-color: transparent;
	background-color: var(--primary-color);
}

@media (hover: hover) {
	.header__socialMedia a:hover {
		border-color: var(--white);
	}
}